
@{
    ViewBag.Title = "TestJQuery";
}

<h2>Test JQuery</h2>
<div class="row">
    <div class="col-lg-8">
        <table class="table table-striped" id="tbl_employees">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <h4 id="emp_detail"></h4>
    </div>
</div>



@section scripts {
    <script>
        // TODO: Replace with the URL of your WebService app
        var serviceUrl = 'http://localhost:12146/api/';

        $(document).ready(function () {

            $.ajax(
                {
                    type: 'get',
                    url: serviceUrl + 'allemployees'
                }
            ).done(function (employees) {
                var trHTML = '';

                $.each(employees, function (i, employee) {

                    trHTML += '<tr><td>' + employee.idEmployee + '</td><td>' + employee.firstName + '</td><td>' + employee.lastName + '</td><td><button type="button" class="btn btn-primary" employeeid="' + employee.idEmployee +'">Details</button></td></tr>';
                });

                $('#tbl_employees tbody').append(trHTML);

                $('button').on('click', function () {
                    var id = $(this).attr('employeeid');
                    $.ajax(
                        {
                            type: 'get',
                            url: serviceUrl + 'employeebyid?IDEmployee=' + id
                        }).done(function (employee) {
                            var $detail = $('#emp_detail');
                            $detail.text('');
                            $detail.text(employee.firstName + ' ' + employee.lastName);

                        });

                });



            }).fail(function (jqXHR, textStatus, errorThrown) {
                var x = 0;
                //$('#value1').text(jqXHR.responseText || textStatus);
            });


          


        });






    </script>
}

